.html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

:root {
	--main-color: #cc9933;
	--second-color: #ffcc66;
	--white: #fff;
	--active-color: #a47312;
	--light-yellow: #e9c479;
}

* {
	box-sizing: border-box;
	text-decoration: none;
}

@font-face {
	font-family: "Muller";
	src: local("Muller-Bold"),
	url("../fonts/MullerBold.woff2") format("woff2"),
	url("../fonts/MullerBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Muller";
	src: local("Muller-Light"),
	url("../fonts/MullerLight.woff2") format("woff2"),
	url("../fonts/MullerLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Muller";
	src: local("Muller-Medium"),
	url("../fonts/MullerMedium.woff2") format("woff2"),
	url("../fonts/MullerMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Muller";
	src: local("Muller-Regular"),
	url("../fonts/MullerRegular.woff2") format("woff2"),
	url("../fonts/MullerRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Muller", sans-serif;
	background-color: #e5e5e5;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.list-reset {
	padding: 0;
	margin: 0;
	list-style: none;
}

.header-logo {
	display: flex;
}

.tel-header {
	padding-left: 40px;
	margin-right: auto;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #666;
}

.account {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #cc9933;
	/*background-image: url("../img/arrow-for-account.svg");*/
	/*background-repeat: no-repeat;*/
	/*padding-left: 28px;*/
}

.header-top {
	display: flex;
	align-items: center;
	padding-top: 30px;
	margin-bottom: 30px;
}

.header-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 70px;
	border: 1px solid #fff;
	border-radius: 15px;
	background-color: #fff;
	width: 1170px;
	min-height: 70px;
	padding: 10px 45px;
}

.header-list {
	display: flex;
	align-items: center;
	padding-right: 56px;
	min-height: 50px;
	border-right: 1px solid #e1e1e1;
}

.header-list-item:not(:last-child) {
	margin-right: 45px;
}

.button1-in-header {
	margin-right: 40px;
}

.header-link {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #666;
}

.buttons {
	display: flex;
	align-items: center;
}

.button-in-header {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #cc9933;
	padding: 13px 20px;
	border-radius: 10px;
	border: 1px solid #cc9933;
	background-color: transparent;
	cursor: pointer;
}

.section-title {
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #333;
	padding-left: 40px;
	margin: 0;
}

.main-list-special-offers {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.name-list-item-small {
	font-weight: 700;
	font-size: 40px;
	line-height: 40px;
	color: #fff;
	max-width: 299px;
	margin: 0;
	margin-bottom: 15px;
}

.left-pictures-special-offers {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	border-radius: 15px;
	width: 573px;
	margin: 0;
	margin-right: 23px;
	padding: 40px;
	position: relative;
}

.left-pictures-special-offers:not(:last-child) {
	margin-bottom: 23px;
}

.left-pictures-special-offers1 {
	background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/maldives.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.left-pictures-special-offers2 {
	background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/island-of-crete.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.special-offers-list-item1 {
	display: flex;
	flex-wrap: wrap;
	width: calc((100% - 23px) / 2);
	max-width: 573px;
	min-height: 258px;
}

.special-offers-list-item2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url("../img/suites.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 573px;
	min-height: 540px;
	border-radius: 15px;
	padding: 40px;
}

.link-list-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #ffcc66;
	margin: 0;
	/*padding-right: 14px;*/
	/*background-image: url("../img/yellow-arrow.svg");*/
	/*background-repeat: no-repeat;*/
	/*background-position: right;*/
}

.special-offers-title {
	margin-bottom: 20px;
}

.info-price1 {
	display: block;
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	opacity: 0.8;
	color: #fff;
	margin: 0;
	margin-bottom: 47px;
}

.info-price2 {
	display: block;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	opacity: 0.8;
	margin: 0;
	margin-bottom: 47px;
}

.name-list-item-big {
	font-weight: 700;
	font-size: 60px;
	line-height: 60px;
	color: #fff;
	margin: 0;
	margin-bottom: 15px;
	max-width: 299px;
}

.special-offers-title {
	margin-bottom: 20px;
}

.about-us-title {
	margin-bottom: 11px;
}

.section-title {
	margin-bottom: 20px;
}

.special-offers-list-item {
	width: 573px;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.services-list-item {
	width: calc((100% - 23px) / 2);
	min-height: 330px;
	max-width: 573px;
	border-radius: 15px;
	background-color: #fff;
	padding: 191px 126px 50px 45px;
	position: relative;
}

.services-list-item:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 165px;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 15px 15px 0 0;
}

.services-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 200%;
	color: #cc9933;
	margin: 0;
	align-self: flex-start;
	display: flex;
	align-items: center;
	/*background-image: url("../img/yellow-arrow.svg");*/
	/*background-repeat: no-repeat;*/
	/*background-position: right;*/
	/*padding-right: 16px;*/
}

.services-list-item1 {
	margin-bottom: 23px;
	margin-right: 23px;
}

.services-list-item1:before {
	background-image: url("../img/services1.jpg");
}

.services-list-item2 {
	margin-bottom: 23px;
}

.services-list-item2:before {
	background-image: url("../img/services2.jpg");
}

.services-list-item3 {
	margin-bottom: 23px;
	margin-right: 23px;
}

.services-list-item3:before {
	background-image: url("../img/services3.jpg");
}

.services-list-item4 {
	margin-bottom: 23px;
}

.services-list-item4:before {
	background-image: url("../img/services4.jpg");
}

.description-about-us {
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
	color: #000;
	margin-bottom: 70px;
	max-width: 888px;
}

.header-services-link {
	margin: 0;
}

.header-services-link1 {
	max-width: 301px;
}

.header-services-link2 {
	max-width: 257px;
}

.header-services-link3 {
	max-width: 370px;
}

.header-services-link4 {
	max-width: 377px;
}

.description-services-list-item {
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
	color: #000;
	margin: 0;
	max-width: 402px;
}

.advantages-title {
	margin-bottom: 30px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.advantages-list-item {
	width: calc((100% - 23px*3) / 4);
	min-height: 275px;
	padding: 116px 42px 41px 45px;
	background-color: #fff;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: left 45px top 40px;
}

.advantages-list-item:not(:nth-child(4n)) {
	margin-right: 23px;
}

.advantages-list-item:nth-child(-n + 4) {
	margin-bottom: 23px;
}

.advantages-list-item1 {
	background-image: url("../img/bathtub.svg");
}

.advantages-list-item2 {
	background-image: url("../img/hanger.svg");
}

.advantages-list-item3 {
	background-image: url("../img/heating.svg");
}

.advantages-list-item4 {
	background-image: url("../img/hotel-key.svg");
}

.advantages-list-item5 {
	background-image: url("../img/parking.svg");
}

.advantages-list-item6 {
	background-image: url("../img/reception.svg");
}

.advantages-list-item7 {
	background-image: url("../img/security-box.svg");
}

.advantages-list-item8 {
	background-image: url("../img/swimming-pool.svg");
}

.description-advantages-list-item {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 200%;
	color: #000;
}

.placement-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.placement-list-item {
	width: 374px;
	min-height: 440px;
	background-color: #fff;
	border-radius: 15px;
	font-size: 0;
}

.placement-list-item:not(:nth-child(3n)) {
	margin-right: 23px;
}

.placement-list-item:nth-child(-n + 6) {
	margin-bottom: 23px;
}

.placement-list-item9 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background-image: url("../img/placement9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 0 53px 27px 53px;
	position: relative;
}

.price {
	display: inline-block;
	max-width: 145px;
	height: 20px;
	margin: 0;
	margin-bottom: 16px;
	margin-right: 44px;
}

.img-stars {
	flex-shrink: 0;
	margin-right: 0;
}

.placement-item-content {
	font-size: 16px;
}

.text-in-card-placement {
	padding: 36px 46px 41px 45px;
}

.price-and-stars {
	display: flex;
	align-items: flex-start;
}

.hotel-photo {
	padding: 0;
}

.hotel-photo img {
	width: 100%;
	height: 217px;
	object-fit: cover;
}

.hotel-photo-inner {
	border-radius: 15px 15px 0 0;
}

.price-inner-span1 {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #999;
}

.price-inner-span2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
}

.price-inner-span3 {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #000;
}

.place-title {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #000;
	margin-bottom: 16px;
}

.location-title {
	display: inline-block;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #999;
	margin-bottom: 20px;
}

.btn-places {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #cc9933;
	padding: 13px 20px;
	border-radius: 10px;
	border: 1px solid #cc9933;
	background-color: transparent;
	cursor: pointer;
}

.show-all-options {
	max-width: 266px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.link-show-all-options {
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	margin: 0;
	/*background-image: url("../img/white-arrow.svg");*/
	/*background-repeat: no-repeat;*/
	/*background-position: right;*/
	/*padding-right: 16px;*/
}

.want-to-tour {
	margin-bottom: 70px;
}

.tour-container {
	padding: 38px 45px 71px 40px;
	width: 100%;
	background-color: #e9e9e9;
	border-radius: 15px;
}

.want-to-tour-title {
	margin: 0;
	margin-bottom: 19px;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #000;
}

.want-to-tour-panel {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 15px;
	max-width: 1080px;
	height: 106px;
}

.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 15px;
	min-height: 106px;
	padding: 28px 28px;
}

.form-list {
	display: flex;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #e1e1e1;
}

.form-select {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #000;
	border: none;
	width: 169px;
}

.form-input {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #000;
	border: none;
	width: 121px;
}

.form-input-with-border {
	border-bottom: 1px solid #ccc;
}

input::-webkit-calendar-picker-indicator { /* чтобы не обрезалась дата */
	margin: 0;
}

.form-block-title {
	display: inline-block;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	color: #000;
	min-width: 37px;
	margin-bottom: 15px;
	padding-left: 5px;
}

.btn-search {
	background-color: transparent;
	cursor: pointer;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #cc9933;
	border: 1px solid #cc9933;
	padding: 13px 30px;
	border-radius: 10px;
}

.contacts {
	margin-bottom: 19px;
}

.contacts-title {
	margin: 0;
	margin-bottom: 26px;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #000;
	padding-left: 40px;
}

.contacts-content {
	display: flex;
	justify-content: space-between;
	padding: 44px 44px 46px 46px;
	width: 100%;
	background-color: #fff;
	border-radius: 15px;
}

.contacts-left-part {
	width: 375px;
	margin-right: 50px;
}

.contacts-list-item {
	display: flex;
	justify-content: space-between;
	padding-bottom: 23px;
	border-bottom: 1px solid #c4c4c4;
}

.contacts-list-item:not(:first-child) {
	padding-top: 23px;
}

.contacts-list-title {
	margin: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #000;
}

.contacts-list-item-inner {
	width: 229px;
}

.contacts-list-item-tel,
.contacts-list-item-mail {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #cc9933;
}

.contacts-list-item-inner-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #000;
}

.contacts-list-item-mail-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #999;
}

.contacts-list-item:last-child {
	margin-bottom: 72px;
}

.btn-create-route {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	color: #cc9933;
	padding: 27px 29px;
	border: 1px solid #cc9933;
	border-radius: 10px;
	background-color: transparent;
	cursor: pointer;
}

.contacts-right-part {
	background-image: url("../img/contacts-photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 653px;
	min-height: 528px;
	border-radius: 10px;
}

.footer {
	margin-bottom: 20px;
}

.footer-container {
	display: flex;
	background-color: #333;
	border-radius: 15px;
	padding: 44px 51px 46px 52px;
	min-height: 341px;
	background-image: url("../img/footer-image.png");
	background-repeat: no-repeat;
	background-size: 254px 228px;
	background-position: right 200px bottom;
}

.footer-left-part {
	margin-right: 102px;
	max-width: 320px;
}

.footer-description {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 190%;
	color: #fff;
}

.footer-description1 {
	margin-bottom: 40px;
}

.footer-description2 {
	margin-bottom: 49px;
}

.footer-link-agreement-paragraph {
	margin: 0;
}

.footer-link-agreement {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #cc9933;
}

.footer-description-center-paragraph {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	margin-bottom: 14px;
}

.footer-description-center-tel {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #cc9933;
}

.footer-description-center-emails {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #cc9933;
}

.footer-description-center-tel-block {
	margin-bottom: 14px;
}

.footer-central-part {
	width: 358px;
	margin-right: 260px;
	margin-bottom: 50px;
}

.social-media-link {
	display: block;
	width: 25px;
	height: 25px;
}

/*.tripadvisor {*/
/*	background-image: url("../img/tripadvisor.svg");*/
/*}*/

/*.twitter {*/
/*	background-image: url("../img/twitter.svg");*/
/*}*/

/*.facebook {*/
/*	background-image: url("../img/facebook.svg");*/
/*}*/

/*.vk {*/
/*	background-image: url("../img/social.svg");*/
/*}*/

/*.instagram {*/
/*	background-image: url("../img/instagram.svg");*/
/*}*/

.footer-list-item:not(:last-child) {
	margin-bottom: 20px;
}

/* effects */

button {
	transition-property: color, background-color;
	transition-duration: .3s;
	transition-timing-function: ease;
}

button:hover:not(:focus-visible) {
	color: var(--white);
	background-color: var(--main-color);
}

button:active:not(:focus-visible) {
	color: var(--white);
	background-color: var(--active-color);
}

button:focus-visible {
	color: var(--white);
	background-color: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
}

.tel-header {
	transition: color .3s ease;
}

.tel-header:hover:not(:focus-visible) {
	color: var(--main-color);
}

.tel-header:active:not(:focus-visible) {
	color: var(--active-color);
}

.tel-header:focus-visible {
	color: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 5px;
}

.header-link {
	transition: color .3s ease;
}

.header-link:hover:not(:focus-visible) {
	color: var(--main-color);
}

.header-link:active:not(:focus-visible) {
	color: var(--active-color);
}

.header-link:focus-visible {
	color: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 5px;
}

.account {
	transition: color .3s ease;
}

.account:hover:not(:focus-visible) {
	color: var(--light-yellow);
}

.account:active:not(:focus-visible) {
	color: var(--active-color);
}

.account:focus-visible {
	color: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 5px;
}

.account path {
	transition: fill .3s ease;
}

.account:hover:not(:focus-visible) path {
	fill: var(--light-yellow);
}

.account:active:not(:focus-visible) path {
	fill: var(--main-color);
}

.contacts-list-item-tel,
.contacts-list-item-mail {
	transition: color .3s ease;
}

.contacts-list-item-tel:hover:not(:focus-visible),
.contacts-list-item-mail:hover:not(:focus-visible) {
	color: var(--light-yellow);
}

.contacts-list-item-tel:active:not(:focus-visible),
.contacts-list-item-mail:active:not(:focus-visible) {
	color: var(--active-color);
}

.contacts-list-item-tel:focus-visible,
.contacts-list-item-mail:focus-visible {
	color: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 5px;
}

.footer-link-agreement,
.footer-description-center-tel,
.footer-description-center-emails {
	transition: color .3s ease;
}

.footer-link-agreement:hover:not(:focus-visible),
.footer-description-center-tel:hover:not(:focus-visible),
.footer-description-center-emails:hover:not(:focus-visible) {
	color: var(--light-yellow);
}

.footer-link-agreement:active:not(:focus-visible),
.footer-description-center-tel:active:not(:focus-visible),
.footer-description-center-emails:active:not(:focus-visible) {
	color: var(--active-color);
}

.footer-link-agreement:focus-visible,
.footer-description-center-tel:focus-visible,
.footer-description-center-emails:focus-visible {
	color: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 5px;
}

.social-media-link path {
	transition: fill .3s ease;
}

.social-media-link:hover:not(:focus-visible) path {
	fill: var(--main-color);
}

.social-media-link:active:not(:focus-visible) path {
	fill: var(--active-color);
}

.social-media-link:focus-visible {
	fill: var(--main-color);
	outline: 0;
	outline: 1px solid var(--main-color);
}

.link-show-all-options::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 8px;
	opacity: 0;
}

.link-show-all-options {
	align-self: flex-start;
	display: flex;
	align-items: center;
	transition: color .3s ease;
}

.link-show-all-options svg {
	transform: translateX(5px);
	transition: transform .3s ease;
}

.link-show-all-options:hover:not(:focus-visible) {
	color: var(--second-color);
}

.link-show-all-options:hover:not(:focus-visible) svg {
	transform: translateX(10px);
}

.link-show-all-options:hover:not(:focus-visible) path {
	stroke: var(--second-color);
}

.link-show-all-options:active:not(:focus-visible) {
	color: var(--main-color);
}

.link-show-all-options:active:not(:focus-visible) svg {
	stroke: var(--second-color);
}

.link-show-all-options:focus-visible:after {
	opacity: 1;
}

.link-show-all-options:focus-visible {
	outline: 0;
}

.special-offers-list-item {
	position: relative;
}

.link-list-item::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 8px;
	opacity: 0;
}

.link-list-item {
	display: flex;
	align-items: center;
}

.link-list-item {
	transition: color .3s ease;
}

.link-list-item svg {
	transform: translateX(5px);
	transition: transform .3s ease;
}

.link-list-item:hover:not(:focus-visible) svg {
	transform: translateX(10px);
}

.link-list-item:focus-visible:after {
	opacity: 1;
}

.link-list-item:focus-visible {
	outline: 0;
}

.link-list-item:active:not(:focus-visible) {
	color: var(--white);
}

.services-list-item {
	position: relative;
}

.services-link::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	outline: 1px solid var(--main-color);
	outline-offset: 8px;
	opacity: 0;
}

.services-link {
	transition: color .3s ease;
}

.services-link svg {
	transform: translateX(5px);
	transition: transform .3s ease;
}

.services-link:hover:not(:focus-visible) {
	color: var(--light-yellow);
}

.services-link:hover:not(:focus-visible) svg {
	stroke: var(--light-yellow);
	transform: translateX(10px);
}

.services-link:hover:not(:focus-visible) path {
	stroke: var(--light-yellow);
}

.services-link:active:not(:focus-visible) {
	color: var(--main-color);
}

.services-link:active:not(:focus-visible) svg {
	stroke: var(--main-color);
}

.services-link:focus-visible:after {
	opacity: 1;
}

.services-link:focus-visible {
	outline: 0;
}










